* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

/*GENERAL CONTAINER:*/
.container {
    width: 1000px;
    margin: 0 auto;
}

/*HEADER:*/
header {
    margin-bottom: 35px;
}

.header {
    margin-bottom: 25px;
}

.logo {
    width: 180px;
    border-right: 1px solid rgb(184, 181, 181);
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: rgb(124, 122, 122);
    padding-right: 20px;
}

/*MAIN:FIRST PART:*/

/*Clearfix!!*/
.container-clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.banner {
    margin-bottom: 25px;
    position: relative;
    float: left;
}

.yoga {
    width: 1000px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(0.8);
    float: left;
}

.description {
    width: 600px;
    position: absolute;
    top: 250px;
    left: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    float: left;
}

.subtext {
    font-size: 15px;
    float: left;
}

/*MAIN:SECOND PART:*/

/*Section 1:*/
.title-leadership {
    width: 1000px;
    float: left;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.subtext-2 {
    color: rgb(151, 150, 150);
    font-size: 15px;
    margin-bottom: 30px;
}

/*Section 2:*/

.article-1 {
    width: 25%;
    float: left;
}

.investments{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(0.8);
}

.description-2 {
    color: rgb(139, 136, 136);
}

/*Section 3:*/

.article-2 {
    width: 46%;
    float: left;
    margin-left: 2%;
    margin-right: 2%; 
}

.smartworking {
    width: 100%;
    height: 230px;
    border-radius: 10px;
    filter: brightness(0.8);
    object-fit: cover;
}

/*Section 4:*/

.article-3 {
    width: 25%;
    float: right;
}

.idea {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.8);
}

/*FOOTER:*/
.footer {
     margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.heart {
    color: red;
    font-size: 20px;
}



