* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*CONTENITORE GENERALE:*/
.container {
    width: 1000px;
    margin: 0 auto;
}

/*HEADER:*/
header {
    margin-bottom: 35px;
}

.header {
    margin-bottom: 25px;
}

.logo {
    width: 180px;
    border-right: 1px solid rgb(184, 181, 181);
    padding-right: 15px;
}

a {
    text-decoration: none;
    color: rgb(124, 122, 122);
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
}

/*MAIN:PRIMA PARTE:*/
.container-clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.banner {
    margin-bottom: 25px;
    position: relative;
    float: left;
}

.yoga {
    width: 1000px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(0.8);
    float: left;
}

.description {
    width: 600px;
    position: absolute;
    top: 250px;
    left: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    float: left;
}

.sottotesto {
    font-size: 15px;
    float: left;
}

/*MAIN:SECONDA PARTE:*/
.leadership {
    width: 1000px;
    float: left;
}

h1 {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.sottotesto-2 {
    font-family: 'Poppins', sans-serif;
    color: rgb(151, 150, 150);
    font-size: 15px;
    margin-bottom: 30px;
}

.box-blue-2 {
    width: 25%;
    float: left;
    font-family:'Poppins', sans-serif;
}
.investimenti {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(0.8);
}
.description-2 {
    color: rgb(139, 136, 136);
    font-family:'Poppins', sans-serif;
}


.box-blue-3 {
    width: 46%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    font-family:'Poppins', sans-serif;
    
}
.smartworking {
    width: 100%;
    height: 230px;
    border-radius: 10px;
    filter: brightness(0.8);
    object-fit: cover;
}

.box-blue-4 {
    width: 25%;
    float: right;
    font-family:'Poppins', sans-serif;
}
.idee {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.8);
}

/*FOOTER:*/




